# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
essential_commands.txt
# C extensions
*.so
# Ignore the acmd.py script
acmd.py
# Distribution / packaging
# Ignore backup files
backups
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# If your build process includes running collectstatic, you probably don't need or want to include staticfiles
# collected files in version control
staticfiles/

# If your build process includes running collectstatic, you probably don't need or want to include media files
media/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyenv
.python-version

# Testing
.tox/
.nox/
coverage/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pyre/
.mypy_cache/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Docker
*.env
docker-compose.override.yml
docker-compose.yml

# OS files
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyright
.pyright/

# celery beat schedule file
celerybeat-schedule
